{% load static %}

<nav>
  <ul>
    <li> <div class="dropdown">
      <button onclick="myFunction()" class="dropbtn">&#9868</button>
      <div id="myDropdown" class="dropdown-content">
        <a href="{% url 'chatbot' %}">Home</a>
        <a href="{% url 'profile' %}">Profile</a>
        <a href="{% url 'feedback' %}">Feedback</a>
        <a href="{% url 'logout' %}">Logout</a>
      </div>
    </div></li>
    <li><img class="user-pic" src="{{request.user.profile.profile_pic.url}}"></li>
    <li><p class="name"> Hello, {{ request.user.username.capitalize}}</p></li>
    
  </ul>
</nav>
  <script>

  function myFunction() {
    document.getElementById("myDropdown").classList.toggle("show");
  }
  
  window.onclick = function(event) {
    if (!event.target.matches('.dropbtn')) {
      let dropdowns = document.getElementsByClassName("dropdown-content");
      let i;
      for (i = 0; i < dropdowns.length; i++) {
        let openDropdown = dropdowns[i];
        if (openDropdown.classList.contains('show')) {
          openDropdown.classList.remove('show');
        }
      }
    }
  }
  </script>
  
