@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@300&display=swap');
body,html{
    background-color: #0c020f;
    margin: 0;
    padding: 0;
    font-family: 'Ubuntu', sans-serif;
}
.chat-container{
    padding: 1%;
    display: flex;
    flex-direction: column;
    height: 75vh;
    background-color: #040005;
    width: auto;
    overflow-y: auto;
    overflow-x: hidden;
}
.bot{
    display: flex;
    flex-direction: row;
    margin-top: 1vh;
}
.bot-pic{
    margin-top: 1.5vh;
    margin-left: 1vh;
    max-height : 35px;
    max-width : 35px;
    border-radius : 50%;
}
.content-bot{
    background-color: #DFCCFB;    
    margin-top: 1.5vh;
    margin-left: 2vh;
    width: auto;
    max-width: 50vw;
    height: auto;
    padding: 0.7%;
    border-radius: 8px;
    word-wrap: break-word;
}
.user{
    display: flex;
    flex-direction: row;
    margin-top: 1vh;
    justify-content: flex-end;
}
.profile-pic{
    margin-top: 1.5vh;
    margin-left : 1vw;
    max-height : 35px;
    max-width : 35px;
    border-radius : 50%;
}

.message-content{
    background-color: #CAEDFF;    
    margin-top: 1.5vh;
    margin-left: 2vh;
    min-width: auto;
    max-width: 50vw;
    height: auto;
    padding: 0.7%;
    border-radius: 8px;
    word-wrap: break-word;
}

.input-user{
    display: flex;
    border-top: 2px solid grey;
}
.content{
    margin-top: 2vh;
    position: absolute;
    flex-direction: row;
    margin-left: 15vh;
}
.prompt{
    height: 3.5vh;
    width: 50vw;
    padding-top: 1vh;
    padding-bottom: 1vh;
    padding-left: 1.5vw;
    padding-right: 1.5vw;
    border-radius: 50px;
    border: 2px solid black;
}
#send{
    margin-left: 10vw;
    margin-top: .5vh;
    height: auto;
    padding: 1vh 1vw;
    font-size: 15px;
    border-radius: 8px;
    background-color: #00AD7C;
    border: #00AD7C solid 2px;
}
#send:hover{
    background-color: #016448;
    border: #016448 solid 2px;
}

@media only screen and (max-width : 800px){
    .chat-container{
        padding: 1%;
        display: flex;
        flex-direction: column;
        height: 75vh;
        background-color: #040005;
        width: auto;
        overflow-y: auto;
        overflow-x: hidden;
    }
    .bot{
        display: flex;
        flex-direction: row;
        margin-top: 1vh;
    }
    .bot-pic{
        margin-top: 1.5vh;
        margin-left: 1vh;
        max-height : 35px;
        max-width : 35px;
        border-radius : 50%;
    }
    .content-bot{
        background-color: #DFCCFB;    
        margin-top: 1.5vh;
        margin-left: 2vh;
        width: auto;
        max-width: 50vw;
        height: auto;
        padding: 1vh;
        border-radius: 8px;  
        word-wrap: break-word;
    }
    .user{
        display: flex;
        flex-direction: row;
        margin-top: 1vh;
        justify-content: flex-end;
    }
    .profile-pic{
        margin-top: 1.5vh;
        margin-left: 1vw;
        max-height : 35px;
        max-width : 35px;
        border-radius : 50%;
    }
    .message-content{
        background-color: #CAEDFF;
        margin-top: 1.5vh;
        max-width: 50vw;
        border-radius: 8px;
        width: auto;
        height: auto;
        margin-right: 2vh;
        padding: 1vh;
        word-wrap: break-word;
    }
    .input-user{
        display: flex;
        border-top: 2px solid grey;
    }
    .content{
        margin-top: 3vh;
        position: absolute;
        flex-direction: row;
        margin-left: 7vw;
    }
    .prompt{
        height: 3.5vh;
        width: 50vw;
        padding-top: 0.5vh;
        padding-bottom: .5vh;
        padding-left: 2vw;
        padding-right: 2vw;
        border-radius: 8px;
        border: 2px solid black;
    }
    #send{
        margin-left: 10vw;
        height: auto;
        padding: 1vh 1vw;
        font-size: 15px;
        background-color: #00AD7C;
        border: #00AD7C solid 2px;
        border-radius: 6px;
    }
}